
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.title-main {
    font-size: 2rem;
    font-weight: bold;
    padding: 3rem;
    text-align: center;
    border: 3px solid blue;
}

.contatiner1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}
/* h2 {
    text-align: justify;
    float: left;
    font-size: 2rem;
    color: white;
} 

#search-form {
    margin-top: 2rem;
} */

/* .search-section {
    display: flex;
    float: left;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
} */

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    color: black;
    background: white;
    align-items: center;
    padding: 12px;
    padding-left: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    gap: 40px;
}

#btn {
    width: 100%;
    height: 30px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}

#btn:hover {
    opacity: 5.6;
    color: grey;
} 

#cityList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px white;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2rem;
    color: white;
    padding: 1rem;
    padding-top: 1rem;
    padding-bottom: 1px;
}

.col-8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    font-size: 1rem;
    color: white;
    background: lightslategray;
}